RewriteEngine On
# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://melodytown/$1 [R=301,L]

#PAGES
RewriteRule ^$ /controllers/pages/indexController.php
RewriteRule ^accueil$ /controllers/pages/indexController.php
RewriteRule ^contact$ /controllers/pages/contactController.php
# RewriteRule ^inbox$ /controllers/pages/inboxController.php
RewriteRule ^messages$ /controllers/pages/messagesController.php
RewriteRule ^alerts$ /controllers/pages/alertsController.php
# RewriteRule ^chatsList$ /controllers/pages/contactController.php
# RewriteRule ^chat-([0-9]+)$ /controllers/pages/chatController.php?id=$1
RewriteRule ^message-([0-9]+)$ /controllers/pages/textbackController.php?id=$1

#USERS
RewriteRule ^inscription$ /controllers/users/registerController.php
RewriteRule ^verification$ /controllers/users/confirmationMail.php
RewriteRule ^connexion$ /controllers/users/loginController.php
RewriteRule ^media$ /controllers/users/mediaController.php
RewriteRule ^deconnexion$ /controllers/users/logoutController.php
RewriteRule ^mon-compte$ /controllers/users/accountController.php
RewriteRule ^modifier-mon-compte$ /controllers/users/updateAccountController.php
RewriteRule ^profil$ /controllers/users/profileController.php
RewriteRule ^profil-([0-9]+)$ /controllers/users/profileController.php?id=$1 [L]
RewriteRule ^membres$ /controllers/users/usersListController.php
RewriteRule ^compte-supprime$ index.php?deleteAccount=true

#TOPICS
RewriteRule ^liste-topics$ /controllers/topics/topicsListController.php
RewriteRule ^liste-souscategories$ /controllers/topics/topicsBySubcategories.php
RewriteRule ^liste-souscategories-([0-9]+)$ /controllers/topics/topicsBySubcategories.phpid=$1
RewriteRule ^topics-par-categories$ /controllers/topics/topicsListByCategoriesController.php
RewriteRule ^modifier-topic-([0-9]+)$ /controllers/topics/updateTopicController.php?id=$1 [L]
RewriteRule ^forums$ /controllers/topics/forumController.php
RewriteRule ^forums-([0-9]+)$ /controllers/topics/forumController.php?id=$1
RewriteRule ^topic-([0-9]+)$ /controllers/topics/topicController.php?id=$1
RewriteRule ^topic-supprime$ topicsList.php?deleteTopic=true

#ADMIN
RewriteRule ^dashboard$ /controllers/users/adminController.php
RewriteRule ^regles$ /utils/rules.php
RewriteRule ^termes$ /utils/terms.php
RewriteRule ^credits$ /utils/credits.php
RewriteRule ^help$ /utils/help.php

#ERRORS
ErrorDocument 404 /controllers/errors/404Controller.php
 
