RewriteEngine On

#PAGES
RewriteRule ^$ /controllers/pages/indexController.php
RewriteRule ^accueil$ /controllers/pages/indexController.php
RewriteRule ^contact$ /controllers/pages/contactController.php

#USERS
RewriteRule ^inscription$ /controllers/users/registerController.php
RewriteRule ^connexion$ /controllers/users/loginController.php
RewriteRule ^deconnexion$ /controllers/users/logoutController.php
RewriteRule ^mon-compte$ /controllers/users/accountController.php
RewriteRule ^modifier-mon-compte$ /controllers/users/updateAccountController.php
RewriteRule ^profil-([0-9]+)$ /controllers/users/profileController.php?id=$1
RewriteRule ^profil$ /controllers/users/profileController.php
RewriteRule ^compte-supprime$ index.php?deleteAccount=true

#TOPICS
RewriteRule ^liste-topics$ /controllers/topics/topicsListController.php
RewriteRule ^liste-topics-par-categories$ /controllers/topics/topicsListByCategoriesController.php
RewriteRule ^modifier-topic-([0-9]+)$ /controllers/topics/updateTopicController.php?id=$1 [L]
RewriteRule ^forum$ /controllers/topics/forumController.php
RewriteRule ^topic-([0-9]+)$ /controllers/topics/topicController.php?id=$1
RewriteRule ^topic-supprime$ topicsList.php?deleteTopic=true

#ADMIN
RewriteRule ^dashboard$ /controllers/users/adminController.php
RewriteRule ^regles$ /utils/rules.php
RewriteRule ^termes$ /utils/terms.php
RewriteRule ^credits$ /utils/credits.php
RewriteRule ^help$ /utils/help.php

#ERRORS
ErrorDocument 404 /controllers/errors/404Controller.php