@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap");

/* BASIC */
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: wheat;
    /*background-image: url('../IMG/melodyTown.jpg');*/
}

/* DEFAULT*/
h1,
h2,
h3,
p,
button,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    color: black;
}

section {
    text-align: center;
}

/* .... */
button {
    cursor: pointer;
    background-color: #708390;
    text-decoration: none;
    border-radius: 7px;
}

button:hover,
#uploadMediaBtn:hover,
#createThread:hover,
#ToCreate:hover {
    background-color: #6ca4ca;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(182, 200, 215);
}

/* HEADER */
header {
    background-color: #333333d1;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    height: 8rem;
    position: relative;
    text-align: center;
    /*background-image: url('../IMG/melodyTown3.jpg');*/
}

header a {
    text-decoration: none;
    color: #f2f2f2;
}

.siteLogo {
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    margin: 0;
}

.siteLogo h1 {
    text-decoration: none;
    justify-content: left;
    left: 0;
    top: 0;
    position: relative;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    color: rgba(244, 255, 255, 0.781);
    margin-top: 5rem;
    animation: bowAnimation 2s linear infinite;
}

@keyframes bowAnimation {
    0% {
        color: #c4e5e1d6;
        /* Cyan */
    }

    20% {
        color: #d9a147c4;
        /* Orange */
    }

    40% {
        color: #3e8daecc;
        /* bleu */
    }

    60% {
        color: #646cb9c9;
        /* Violet */
    }

    80% {
        color: #9f6c85be;
        /* Brun */
    }

    100% {
        color: #ff5c5cc7;
        /* Brown */
    }
}

#logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    justify-content: left;
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    margin-left: 25px;
}

/* MENU */
#menu-button {
    background-color: transparent;
    color: yellow;
    padding: 10px;
    cursor: pointer;
    justify-content: right;
    right: 0;
    top: 0;
    border: none;
    position: absolute;
    margin-top: 1.3rem;
}

#menu,
#connect {
    background-color: transparent;
    border: transparent;
    color: white;
}

#idCorner {
    right: 0;
    top: 0;
    justify-self: right;
    color: rgb(161, 255, 247);
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 6rem;
}

.navbar button {
    background-color: transparent;
    border: transparent;
    margin-right: 8px;
}

.navbar a {
    color: rgba(226, 220, 220, 0.76);
    text-decoration: none;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.navbar a:hover,
a:hover,
button:hover,
.navbar button:hover {
    text-decoration: underline;
    color: rgb(255, 155, 100);
}

#logging {
    display: flex;
    margin: 4px;
    justify-content: right;
    right: 0;
    top: 0;
    position: absolute;
    font-size: 15px;
}

#logging a {
    margin: 5px;
    right: 0;
    justify-self: right;
    margin-top: 0rem;
}

/* COMPTE */
#avatar {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    justify-content: right;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    margin-right: 15px;
    box-shadow: 0 0 10px rgba(225, 228, 231, 0.2);
}

.comptePage {
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    display: block;
    height: max-content;
    width: 60%;
    background-color: #b7c2c5d9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(82, 83, 83, 0.2);
}

#avyCompte {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    box-shadow: 0 0 10px rgba(82, 83, 83, 0.2);
    background-color: white;
}

.details {
    text-align: center;
    justify-content: center;
    height: max-content;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 20px;
}

.details p {
    color: rgb(0, 0, 0);
    background-color: #f5f8f9df;
    width: 80%;
    margin: 8px auto;
    border-radius: 10px;
}

.comptePage a {
    color: #2980b9;
    text-align: center;
    text-decoration: none;
}

.comptePage p a:hover,
.comptePage p:hover {
    color: rgb(255, 86, 14);
}

#userAvatar {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(225, 228, 231, 0.2);
}


/* TOGGLED AVY */
#avy-overlay {
    position: fixed;
    top: 0;
    left: -100%;
    width: 10%;
    height: 35%;
    background-color: rgba(9, 10, 10, 0.8);
    transition: left 0.3s ease-in-out;
    margin-top: 60px;
    border-radius: 5px;
}

#avy-overlay ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#avy-overlay a {
    font-size: 17px;
    display: block;
    margin-bottom: 15px;
}

#avy-overlay button {
    background-color: #8fa7a1;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 5px;
}

#messages {
    display: inline-block;
    flex-direction: column;
}

/* NOTIFICATIONS */
.notification {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification:hover {
    background-color: red;
}

.notification .badge {
    position: absolute;
    top: -1px;
    right: -5px;
    padding: 3px 5px;
    border-radius: 50%;
    background: red;
    color: white;
    z-index: 1;
}

/* SEARCHBAR */
#searching {
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    right: 0;
    left: 0;
    position: absolute;
    width: 25%;
    top: 0;
}

#sBtn {
    cursor: pointer;
}

#sBtn:hover {
    text-decoration: underline;
    background-color: rgb(127, 210, 108);
    color: black;
}

/*searching users*/
#searchBtnUser {
    position: absolute;
    display: right;
    justify-content: right;
    cursor: pointer;
    right: 0;
    padding: 5px 7px;
    background-color: #8a9c9b;
    top: 7rem;
    margin-right: 10px;
    margin-top: 50px;
}

#searchBtnUser:hover {
    background-color: rgb(130, 173, 236);
}

#searchingUser {
    transition: right 0.3s ease-in-out;
    max-height: 100px;
    justify-content: center;
    text-align: right;
    position: relative;
    top: 0;
    right: 0;
    display: none;
}

#optionUser {
    justify-content: center;
    align-self: center;
    padding: 10px 12px;
    font-style: oblique;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 8px;
    border-width: 2px;
    border-color: black;
}

/*pop up chatbox*/
.chatPop {
    right: 0;
    bottom: 0;
    position: fixed;
    justify-content: right;
    display: inline-block;
}

#popUpChat {
    margin-right: 20px;
    border-radius: 49%;
    padding: 8px 3px;
    background-color: rgb(123, 146, 123);
    color: white;
}

/*...*/
/* CREATE BTNS */
#threadForm {
    max-width: 310px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ccdde2e1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(82, 85, 86, 0.1);
    display: block;
}

label {
    display: block;
    margin-top: 4px;
    margin-bottom: 8px;
    font-weight: bold;
}

select,
input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

#threadForm option {
    font-size: 17px;
}

select {
    height: 36px;
}

textarea {
    height: 150px;
}

.threadPosted p,
.threadPosted h2 {
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    /* Red color for error messages */
}

.send {
    text-align: center;
}

#newThread {
    justify-content: center;
    margin: 0 auto;
    /* background-color: transparent; */
    margin-bottom: 12px;
    border-radius: 8px;
    padding: 9px 12px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
}

#newThread:hover, #threadCloseBtn:hover {
    color: rgb(255, 242, 169);
}

#ToCreate {
    border: transparent;
    justify-content: center;
    margin: 0 auto;
    padding: 6px 8px;
}

#modalThread {
    background-color: transparent;
    padding: 1rem;
    width: 50%;
    height: max-content;
    margin: 0 auto;
    margin-top: 0rem;
}

#threadCloseBtn {
    cursor: pointer;
    float: right;
    color: red;
    font-size: 31px;
}


/* MAIN SECTION FORUM*/
#main {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    justify-content: space-evenly;
    display: flex;
}

#mainDiscover {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    justify-content: space-evenly;
    display: block;
}

#topicContainer {
    width: 80%;
    padding: 10px;
    background-color: #f8fffde3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    margin: 0 auto;
}

#forum {
    width: 70%;
    padding: 20px;
    background-color: #f8fffde3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    margin-left: 20px;
    margin-right: 10px;
}

.forum h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    margin: 0 auto;
}

.thread-list {
    list-style: none;
    padding: 0;
}

/* subforum threads styling*/
.forumcontainer {
    margin: 5px;
    padding: 12px;
    max-height: max-content;
}

.subforum {
    margin-top: 15px;
    text-decoration: none;
    max-height: max-content;
}

.subforum a {
    font-style: italic;
    font-size: 18px;
    color: #f2f2f2;
    margin: 0;
}

.subforum a:hover {
    text-decoration: underline;
    color: gold;
}

.subforum-title {
    color: white;
    background-color: #4b8d95;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}

.subforum-row {
    display: grid;
    grid-template-columns: 8% 65% 12% 15%;
    margin-bottom: 6px;
    max-height: 70px;
}

.subforum-column {
    color: white;
    padding: 8px;
    margin: 4px;
    border-radius: 5px;
    background-color: #51686a;
    margin-bottom: 3px;
    margin-top: 2px;
    max-height: 70px;
}

.subforum-column h4 {
    text-align: center;
    text-decoration: none;
}

.subforum-column h4 a {
    color: rgb(255, 221, 176);
    text-decoration: none;
}

.subforum-column div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.subforum-column a {
    color: #d8f4fc;
}

.subforum-column div a {
    font-size: 14px;
    color: rgb(30, 20, 13);
    margin-right: 10px;
    text-decoration: none;
}

.subforum-description * {
    margin-block: 0;
}

.subforum-description p {
    margin: 0;
    font-size: 13px;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 5px;
}

.subforum-info {
    text-align: center;
    font-size: 13px;
}

.subforum-info a {
    font-size: 13px;
}

.subforum-stats span,
.subforum-stats a {
    font-size: 13px;
    margin: 0 auto;
    text-align: center;
    height: max-content;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i {
    margin: 0 auto;
    font-size: 30px;
    margin-top: 10px;
}

.subforum-icon {
    width: fit-content;
}

.subforum-devider {
    display: none;
    margin-bottom: 8px;
}

/* modal styling */
#openModalBtn {
    background-color: rgb(219, 30, 30);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    margin: 12px;
    width: max-content;
    height: max-content;
}

#modalText, #delete {
    text-align: center;
    margin: 0 auto;
}

#modalContainer {
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    margin: 0 auto;
}

#modal {
    background-color: whitesmoke;
    padding: 1rem;
    width: 50%;
    margin: 0 auto;
    margin-top: 4rem;
}

#closeBtn {
    cursor: pointer;
    float: right;
}

#delete input {
    background-color: rgb(219, 30, 30);
    color: white;
}

/* PROFILE */
/* profile's header */

/* main */
.mainbox {
    justify-content: center;
}

.profileContainer {
    background-color: none;
    border-radius: 8px;
    border-color: black;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
}

/* cover pictures */
.coverContainer {
    position: relative;
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    background-color: none;
    top: 0;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#coverPicture {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    top: 0;
    background-position: center;
    background-size: cover;
}

#editCover {
    border-radius: 6px;
    padding: 5px 8px;
    border: none;
    cursor: pointer;
    z-index: 3;
    position: relative;
    right: 90px;
    opacity: 1;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
}

.avatarContainer {
    width: 90%;
    height: max-content;
    margin-top: -190px;
    /* user info up to overlap cover */
    position: relative;
    z-index: 3;
    /*user info above cover */
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-bottom: 0;
    justify-content: center;
    text-align: center;
}

#profileAvy {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

#editAvatar {
    width: max-content;
    padding: 5px 22px;
    border: none;
    cursor: pointer;
    z-index: 3;
    position: relative;
    justify-content: center;
    right: 126px;
}

.overLay {
    position: relative;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    transition: .5s ease;
    opacity: 0;
    display: inline;
    border-radius: 15px;
    justify-content: center;
}

.profileContainer:hover .overLay {
    opacity: 1;
}

/* user info */
.userContainer {
    padding: 0;
    background-color: #2f2f2fd9;
    justify-content: center;
    height: max-content;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-bottom: 1.5rem;
    display: block;
}

.infoUser {
    display: flex;
    justify-content: space-evenly;
    color: white;
    position: relative;
}

.infoUser p {
    margin: 1rem;
}

.mainContainer {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 4px;
    border-radius: 5px;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
}

.mainContainer p {
    margin-top: 1rem;
}

/* profile's left asidebar */
.asideBar,
.activ {
    width: 15%;
    display: block;
    background-color: rgb(251, 253, 255);
    border-radius: 5px;
    height: max-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    margin: 5px;
}

.asideBar button,
.asideBar input {
    margin: 5px;
    right: 0;
    cursor: pointer;
    width: max-content;
    height: max-content;
    padding: 5px 10px;
    border-radius: 5px;
}

.Media a,
.Archive a {
    text-decoration: none;
    color: white;
}

.asideBar h3,
.activ h3 {
    margin: 8px;
    text-align: center;
}

.Media,
.Archive {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 4px;
    display: block;
    justify-content: center;
    margin: 0 auto;
}

.disGallery,
.Archive img {
    display: grid;
    margin: 5px;
}

#gallery,
.Archive img {
    display: flex;
    width: 40%;
    margin: 5px;
    justify-content: center;
}

/* main posting */
.mainStatus {
    background-color: rgb(247, 251, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: max-content;
    width: max-content;
    margin: 5px;
    position: relative;
}

.state {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.statusContainer {
    margin: 0 auto;
    height: max-content;
    width: max-content;
    text-align: center;
}

.status {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.likeStatus,
.commentStatus {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 12px;
    text-align: center;
}

.comments {
    list-style-type: none;
    padding: 0;
    margin: 15px;
    height: max-content;
    width: max-content;
}

.comments li {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
}

.likeComment,
.replyComment,
.postReply {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 12px;
    text-align: center;
}

/* posting textarea & btn */
#postStatus {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    height: max-content;
    width: max-content;
    margin-top: 5px;
    margin: 0 auto;
}

#postHere {
    width: 27rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 0 auto;
    height: max-content;
}

#posted {
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


#statusText {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    resize: vertical;
}

/* profile 's right sidebar */
.activity {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.activity ul {
    list-style: none;
    padding: 0;
}

.activity li {
    margin: 10px 0;
}

/* CHATS */
#inboxPt {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.chatPop {
    right: 0;
    bottom: 0;
    position: fixed;
    justify-content: right;
    display: inline-block;
}

#popUpChat {
    margin-right: 20px;
    border-radius: 49%;
    padding: 8px 3px;
    background-color: rgb(123, 146, 123);
    color: white;
}

/* hidden chatbox */
.dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #f1f1f1;
    max-width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-right: 15px;
    left: -120px;
}

.allChats {
    display: flex;
    justify-content: space-evenly;
    margin: 6px;
}

.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropup menu on hover */
.chatPop:hover .dropup-content {
    display: block;
}

.chatPop:hover #popUpChat {
    background-color: #2980B9;
}

.dropup-content a:hover {
    background-color: #ddd
}

/* LOGIN & SIGNUP FORMS */
#logForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e7e9ea;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 10px;
    height: max-content;
    /
}

#logForm h1 {
    justify-self: center;
    text-align: center;
    color: #0b2b34;
    margin-bottom: 25px;
}

#logForm h2 {
    justify-self: center;
    text-align: center;
    color: #8f9292;
}

#logForm label {
    display: block;
    margin: 15px 0 5px;
    color: #13414d;
}

#logForm input[type] {
    width: 80%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

#logForm input[type="submit"] {
    background-color: #6499a3;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    margin: 12px;
    width: max-content;
}

#logForm input[type="submit"]:hover,
#openModalBtn:hover , #delete input:hover {
    background-color: #45a049;
}

#logForm input[placeholder],
#logForm input[name] {
    text-align: center;
}

#logForm a:hover {
    color: rgb(54, 56, 44);
}

/* # */
#successMessage {
    color: #23ff6d;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.errorsMessage {
    color: red;
    text-align: center;
}

.compteFlex {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

/* comment section */
.comment-area {
    margin-bottom: 50px;
}

.comment-area textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input {
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover {
    border: solid 1px #000000;
}

/* THREADS */
#threadMain {
    margin: 0 auto;
    width: 95%;
}

fieldset {
    border-radius: 8px;
    background-color: rgb(238, 228, 228);
    justify-content: center;
    margin: 0 auto;
}

#threadContains {
    display: flex;
    justify-content: space-evenly;
}

#threadTheader {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
}

#threadTitle {
    display: flex;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}


#tag {
    margin-right: 50px;
    color: rgb(52, 85, 64);
}

#backArrow {
    text-align: left;
    justify-content: left;
    top: 0;
    left: 0;
    position: relative;
}

#backBtn {
    background-color: transparent;
    border: none;
}

#threadContent {
    width: 80%;
    border-radius: 5px;
    display: inline-block;
    margin: 0 auto;
    justify-content: center;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(71, 72, 72, 0.2);
}

#contents {
    color: black;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}

#userCard {
    display: inline-block;
    height: max-content;
    width: 20%;
    background-color: cornsilk;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(71, 72, 72, 0.2);
    position: relative;
}

#userCard a,
#userCard p,
.usernameMedia a,
.userMedia a {
    text-decoration: none;
    color: #507b97;
}

.username {
    display: block;
    margin: 0 auto;
    font-size: 16px;
}

.pFlex {
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    position: relative;
}

.userImg {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

#userAvy {
    width: 89px;
    height: 89px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    position: relative;
    margin: 7px;
    text-align: center;
    margin: 0 auto;
}

.interact {
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    display: flex;
    width: 30%;
}

.interact button {
    justify-content: center;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    margin-right: 1px;
}

.interact button a,
.replies button a {
    color: black;
}

.interact button:hover {
    color: rgb(235, 90, 70);
}

#timed p {
    justify-content: center;
    text-align: center;
    font-size: 12px;
    margin: 8px;
}

#userPosting {
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

#comments {
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
}

#centered {
    margin-top: -15px;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
}

#messTxt,
#compteH1 {
    text-align: center;
    margin-bottom: 10px;
}

/* REPLIES, COMMENTS */
.quoted {
    background-color: grey;
}

.commentsArea {
    display: block;
}

.replies {
    margin-top: -20px;
    border-radius: 8px;
    background-color: rgb(238, 228, 228);
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.replies button {
    justify-content: right;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    margin-right: 8px;
    text-align: right;
}

.replies button:hover,
#commentBtn:hover {
    color: rgb(235, 90, 70);
}

#replied {
    margin-top: 20px;
}

#commentBtn {
    max-width: max-content;
    justify-content: center;
    margin: 0 auto;
    padding: 5px 12px;
    background-color: #6b97b4;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#commentBtn:hover {
    background-color: rgb(144, 255, 80);
}

/* switching colors */
.changeColor {
    color: green;
    display: block;
}

/* MEDIA's PAGE CARD */
/*Media page styling*/
.mainMedia {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: max-content;
    margin: 10px auto;
    padding: 20px;
    background-color: #d5d8dc;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(127, 127, 128, 0.1);
}

.profileMedia {
    position: relative;
    background-color: none;
    border-radius: 8px;
    border-color: black;
    width: max-content;
    margin-right: 10px;
}

#avyMedia {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 10px rgba(85, 86, 87, 0.2);
}

.profileMedia:hover .overLay {
    opacity: 1;
}

/*media user info */
.userMedia {
    width: 100%;
    max-height: 200px;
    margin-top: -190px;
    /* Move user info up to overlap cover */
    position: relative;
    z-index: 3;
    /* Place user info above cover */
    margin: 0 auto;
    justify-self: center;
    text-align: center;
}

.userMedia h2 {
    color: #507b97;
}

.usernameMedia {
    color: gold;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-height: fit-content;
    margin-top: 19px;
    margin-bottom: 8px;
    background-color: #333;
    padding: 10px 25px;
    margin-left: 10px;
    width: max-content;
    border-radius: 8px;
}

.usernameMedia p {
    justify-content: space-evenly;
    margin-right: 5px;
}

.media-container {
    text-align: center;
    border-radius: 5px;
    background-color: #eff2f4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: max-content;
    margin-left: 10px;
}

#fileUploadMedia {
    display: none;
}

#uploadMediaBtn {
    color: #fff;
    padding: 8px 8px;
    border-radius: 7px;
    cursor: pointer;
    margin: 5px;
    bottom: 0;
}

#media-list {
    list-style: none;
    padding: 0;
    width: 60%;
    display: flex;
    margin: 2px;
}

#media-list li {
    margin: 10px 0;
}

#media-list img {
    max-width: 100%;
}

/* RIGHT SIDEBAR */
.right-sidebar {
    height: max-content;
    max-width: 28%;
    padding: 15px;
    position: sticky;
    margin-left: 10px;
    margin-right: 10px;
}

.updates {
    height: max-content;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.2);
    position: sticky;
    margin-top: 20px;
    font-size: 15px;
}

.updates a {
    text-decoration: none;
}

.updates a:hover {
    text-decoration: underline;
}

.updates ul {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

.updates li {
    margin-bottom: 7px;
}

/* FOOTER */
.footer {
    background-color: #423d3db5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    text-align: center;
}

.footer a:hover {
    text-decoration: underline;
}

.footer p {
    margin-left: 180px;
    margin-top: 13px;
}

/* RESPONSIVE */
/* Smartphone styles */
@media screen and (max-width: 767px) {
    * {
        box-sizing: content-box;
        margin: 0;
        padding: 0;
    }

    body {
        overflow: scroll;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #b4b8bd;
    }

    header {
        background-color: #333333d1;
        color: #fff;
        display: block;
        align-items: center;
        padding: 8px;
        justify-content: space-evenly;
        height: 8rem;
        position: relative;
        text-align: center;
        width: 100%;
    }

    .siteLogo {
        display: block;
    }

    .siteLogo h1 {
        text-decoration: none;
        justify-content: left;
        left: 0;
        top: 0;
        position: absolute;
        font-size: 20px;
        font-weight: bolder;
        font-style: italic;
        margin-top: 0rem;
        margin-left: 5px;
        animation: bowAnimation 2s linear infinite;
    }

    #logo {
        width: 45px;
        height: 45px;
        justify-content: left;
        position: absolute;
        margin: 15px;
        margin-top: 2.1rem;
    }

    #menu-button {
        padding: 1px;
        cursor: pointer;
        justify-content: right;
        position: absolute;
        margin-top: 1.4rem;
    }

    #idCorner {
        justify-self: right;
    }

    #avatar {
        width: 40px;
        height: 40px;
        position: absolute;
        margin: 10px;
    }

    .navbar {
        display: block;
        justify-content: space-around;
        text-align: center;
        margin: 0 auto;
        margin-top: 5rem;
    }

    .navbar button {
        margin-right: 3px;
    }

    .navbar a {
        font-size: 10px;
        height: max-content;
        margin: 0;
        font-weight: 1px;
    }

    #logging {
        display: flex;
        margin: 4px;
        justify-content: right;
        right: 0;
        top: 0;
        position: absolute;
        margin-top: 0rem;
        font-size: 14px;
    }

    #logging a {
        margin: 5px;
        right: 0;
        justify-self: right;
        margin-top: 0rem;
    }

    #searching {
        margin: 0 auto;
        position: absolute;
        width: 50%;
        margin-top: 1.6rem;
    }

    .compteFlex {
        display: block;
    }

    .compteFlex form {
        width: 85%;
    }

    #main {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #forum {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .forumcontainer {
        width: 100%;
        max-height: max-content;
        padding: 0;
        margin: 0;
    }

    .subforum {
        margin-top: 15px;
        text-decoration: none;
        max-height: max-content;
        width: 100%;
        padding: 0;
    }

    .subforum-row {
        width: 98.8%;
        padding: 0;
    }

    .subforum-column {
    }

    .subforum-icon i {
        margin: 0 auto;
        width: fit-content;
        font-size: 25px;
    }

    .subforum-icon {
        width: 100%;
    }

    .subforum-description {
        width: 95%;
        margin: 0 auto;
    }

    .subforum-description p {
        margin: 0 auto;
    }

    .subforum-description div {
        margin: 0 auto;
        display: flex;
        width: fit-content;
    }

    .subforum-stats {
        text-align: center;
        display: block;
        font-size: 12px;
    }

    .subforum-info {
        margin: auto;
        text-align: center;
        margin: 0 auto;
        display: block;
        width: min-content;
    }

    .subforum-info a {
        font-size: 10px;
        display: block;
        padding: 0;
    }

    .right-sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 80%;
    }

    .updates {
        margin: 0 auto;
        display: block;
        width: max-content;
        margin-bottom: 10px;
    }

    .updates li a {
        margin: 0 auto;
    }

    .footer {
        padding: 10px;
        text-align: center;
        bottom: 0;
        width: 100%;
    }

    .footer a {
        margin: 0;
        margin-right: 10px;
        text-align: center;
    }

    .footer p {
        margin: 15px;
    }

    /*  */
    .topicsContainer {
        display: inline-block;
        grid-template-columns: none;
        grid-template-rows: none;
        gap: 1rem;
    }

    .topicBottom {
        padding: 1rem;
        width: max-content;
        margin: 0 auto;
    }

    .topicContent {
        background-color: #dee3e7de;
        border-radius: 7px;
    }

    .topicBottom h2 {
        width: fit-content;
    }

    .topic {
        border: 1px solid dark;
        margin: 15px;
        width: max-content;
    }

    a.cta {
        background-color: transparent;
        border-radius: 3px;
        margin: 0 auto;
        padding: 0;
        width: fit-content;
    }

    button.cta {
        background-color: lightskyblue;
        margin: 5px;
        padding: 0;
        width: fit-content;
    }

}

/* Tablet styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar {
        margin-top: 5rem;
    }

    #searching {
        width: 40%;
    }

    .right-sidebar {
        width: 60%;
        margin: 0 auto;
    }
}

/* PC styles */
@media screen and (min-width: 1024px) {
    .navbar {
        margin-top: 5rem;
    }

    #searching {
        width: 25%;
    }

    .right-sidebar {
        width: 40%;
        margin: 0 auto;
    }
}